/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2018, 2:10:21 PM
    Author     : TARATHEP
*/

body {
    background-color: #ccffcc;
}

.program_header {
    text-align: center;
    margin:auto;
    margin-top: 10px;

    width: 97%;
    padding-left: 10px;
    background-color: #66b3ff;
    border: 5px solid black;
    border-radius: 5px;
}

.table_main{
    margin: 0 auto; 
    width: 90%;
    background-color: white;
    border: 2px solid black;

}

.menu_header{
    width: 15%;
    padding:5px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    background-color: green;
    color: white;
    border: 2px solid black;
}

.menu_choice{
    font: white;
    padding:5px 10px;
    text-align: center;
    text-decoration: bold;
    font-size: 18px;
    border: 2px solid black;
    border-top:2px solid grey;
    border-bottom:2px solid grey;

}

.menu_choice:hover {
    cursor: pointer;
    background-color: #ccffff;
}

.menu_choice.enable_choice:hover {
    cursor: pointer;
    background-color: #3498db;
}

.menu_choice:active {

    background-color: #3498db;
}



.enable_choice{
    padding:5px 10px;
    text-align: center;
    background: #3498db;
    font-size: 18px;
    border: 2px solid black;
}

.disable_choice{
    padding:5px 10px;
    text-align: center;
    font-size: 18px;
    border: 2px solid black;

}


input.radio_but {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

input.rec_day{
    padding: 0px 5px 0px 5px;
    width: 110px;
    height: 25px;
    font-size: 15px;
    border:1px black solid;
    border-radius: 2px;

}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.label_1{
    font-weight: bold;
}

.name_medium{
    padding: 0px 5px 0px 5px;
    width: 150px;
    height: 25px;
    font-size: 15px;
    border:1px black solid;
    border-radius: 2px;
}

.wide_box{
    padding: 0px 5px 0px 5px;
    width: 330px;
    height: 25px;
    font-size: 15px;
    border:1px black solid;
    border-radius: 2px;
}

.text_short{
    padding: 0px 5px 0px 5px;
    width: 100px;
    height: 25px;
    font-size: 15px;
    border:1px black solid;
    border-radius: 2px;
}

.age_box{
    padding: 0px 5px 0px 5px;
    width: 50px;
    height: 25px;
    font-size: 15px;
    border:1px black solid;
    border-radius: 2px;
}

.error_report{
    color:red;
}

div.scrollable {
    width: 100%;
    height: 70vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.search_btn{
    height: 27px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left:10px;

}

.modal-edit{
    max-width: 75%;

}

.modal-add{
    max-width:65%;

}

.modal-comment{
    max-width: 40%;
}

table th {

    text-align: center;
}

.button-search {
    background: #158bd9;
    background-image: -webkit-linear-gradient(top, #158bd9, #3477a1);
    background-image: -moz-linear-gradient(top, #158bd9, #3477a1);
    background-image: -ms-linear-gradient(top, #158bd9, #3477a1);
    background-image: -o-linear-gradient(top, #158bd9, #3477a1);
    background-image: linear-gradient(to bottom, #158bd9, #3477a1);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border:1px solid transparent;
}

.button-search:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

tbody .search_data tr:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.input-card{
    width: 30px;
    height:25px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
}

.input-border{
    border: 1px solid black;
    border-radius: 2px;
}

#sp_info_table{
    width: 90%;
    margin: 0 auto; 
}

#sp_info_table th{
    text-align: center;
    border: 1px solid black;
}
#sp_info_table td{
    text-align: center;
    border: 1px solid black;
}

#sp_info_table td:hover{
    background-color: grey;
    color:white;
    cursor: pointer;
}

.input-no-border{
    color:black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    font-weight: 200;
    color: white;
    padding-left: 0;
}



.table_sp tbody td{
    padding: 3px;   
}

.dt-button-collection.dropdown-menu{
 border: 1px solid black;
}

.dt-button.dropdown-item.buttons-columnVisibility.active{
    background-color: #0000b3;
    color: white;
}

.dt-button.dropdown-item.buttons-columnVisibility.active:hover{
    background-color: blue;
    color: white;
}


.dt-button.dropdown-item.buttons-columnVisibility{
    background-color: grey;
    color: white;
}

.copyButton{
    background: green;
    color:white;
    border:1px solid black;
}

.copyButton:hover{
    background: #00b300;
    color:white;
    border:1px solid black;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

